@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .info-text::before,
  .info-text::after {
    content: '';
    height: 1px;
    @apply w-6/12 bg-gray-500 inline-block relative align-middle;
  }
  .info-text::before {
    margin-left: -50%;
    @apply mr-1;
  }
  .info-text::after {
    margin-right: -50%;
    @apply ml-1;
  }
}
